:root {
    /* Colors */
        /* Text */
    --very-dark-blue: hsl(238, 29%, 16%);
    --soft-red: hsl(14, 88%, 65%);
    --very-dark-grayish: hsl(237, 12%, 33%);
    --dark-grayish: hsl(240, 6%, 50%);
    --light-grayish: hsl(240, 5%, 91%);

    /* Typography */
        /* Font size */
    --paragraph: 1.3rem;
        /* Font weight */
    --regular: 400;
    --bold: 700;
}

* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 62.5%;
    background: linear-gradient(360deg, rgba(101,101,231,1) 0%, rgba(175,103,233,1) 50%);
    background-repeat: no-repeat;
}

body {
    width: 90%;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card {
    background-color: var(--light-grayish);
    padding: 12rem 2rem 5rem;
    border-radius: 30px;
    width: 340px;
}

.card__button {
    padding: 1rem 0;
}

.illustration {
    margin-bottom: -10rem;
    z-index: 1;
}

.illustration img:nth-of-type(1) {
    position: relative;
}
.illustration img:nth-of-type(2) {
    margin-top: -8rem;
}

h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: var(--bold);
    margin-bottom: .5rem;
}

button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: none;
    border: none;
    padding: 1rem 0rem;
    cursor: pointer;
}
button h2:hover {
    color: var(--soft-red);
}

li {
    list-style: none;
    border-bottom: 1px solid var(--dark-grayish);
}

h2 {
    font-size: var(--paragraph);
    font-weight: var(--regular);
    text-align: start;
    color: var(--very-dark-grayish);
}

p {
    font-size: var(--paragraph);
    padding: 0rem 2.5rem 1rem 0rem;
    color: var(--dark-grayish);
    line-height: 1.4rem;
    display: none;
}

.illustration-desk {
    display: none;
}

/* ACTIVE STATE */
.active p {
    display: block;
}
.active h2 {
    font-weight: var(--bold);
}
.active img {
    transform: rotate(180deg);
}

/* RESPONSIVE */
@media  screen and (min-width: 992px) {
    body {
        min-height: 100vh;
        margin-top: 0;
    }
    .card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 0;
        width: 910px;
        height: 427px;
    }
    .illustration {
        display: none;
    }
    ul {
        grid-column: 2/3;
        padding: 3rem 4rem 4rem 3rem;
    }
    .illustration-desk {
        grid-column: 1/2;
        grid-row: 1/2;
        background-image: url(./faq-accordion-card-main/images/bg-pattern-desktop.svg);
        background-repeat: no-repeat;
        background-size: 125%;
        background-position: -170px -100px;
        display: flex;
    }
    .card__img-1 {
        width: 425px;
        object-fit: contain;
        object-position: right;
        transform: translate(-50px, 50px);
        position: fixed;
    }
    .card__img-2 {
        transform: translate(-90px, 150px);
        position: fixed;
    }
    h1 {
        text-align: start;
        margin-bottom: 1.5rem;
    }
}